<div class="container">
  
  <!-- Ejercicio 1 (Contador) -->
  <app-contador [increment]="incrementValue" (eventClick)="viewCurrentValue($event)"></app-contador> <br>
  <label for="increment">Incrementar cantidad</label>
  <input type="number" class="form-control" [(ngModel)]="incrementValue">
  <p>Cantidad actual: {{currentValue}} </p>

  <hr>

  <!-- Ejercicio 2 (Formulario) -->
  <app-formulario (clickEvent)="viewUser($event)"></app-formulario>

  <hr>

  <!-- Ejercicio 3 (Tabla de empleados) -->
  <h1>Lista de empleados</h1>
  <app-search (eventClick)="searchValue($event)"></app-search>
  <app-list-employee [nameSearch]="nameSearch"></app-list-employee>

</div>